body{
  text-align: center;
  font-family: Sans-Serif;
}
#main{
  border: solid 5px;
  border-radius: 5px 5px 5px 5px;
}
#navbar{
  position: fixed;
  top: 0;
  height: 50px;
  background: linear-gradient(0.25turn, navy, navy);
  width: 105%;
  right: 0px;
  text-align: right;
  padding-right: 15px;
}
#navbut{
  display: inline-block;
  text-align: right;
  color: white;
}
#logo{
  font-size: 20px;
}

#list{
  text-align: left;
  color: black;
  list-style-type: disc;
}